nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;

  padding: 0px 20px;
}
nav li :hover {
  background-color: lightgrey;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
nav > ul > li:hover > ul {
  display: block;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: lightpink;
  margin: 0%;
  padding: 0%;
}
